<div class="app-container">
  <div class="list-container">
    <button (click)="getRandomCountry()" class="newsletter-form-button sqs-system-button sqs-editable-button-layout sqs-editable-button-style sqs-editable-button-shape" type="submit" value="Sign Me Up!">
      <span class="newsletter-form-button-label">Take me anywhere!</span>
    </button>
    <ul>
      <li *ngFor="let country of hyperlinkedList">
        <a [href]='country.hyperlink' target="_blank">{{ country.countryName | uppercase }}</a>
      </li>
    </ul>
  </div>
  <div class="map-container">
    <div class="wrapper">
      <svg
      xmlns="http://www.w3.org/2000/svg"
      class="map-svg"
      width="1000"
      height="550"
      [innerHTML]="pathObjects"
    ></svg>
    <h1 class="country-name">{{ hoverTitle }}</h1>
    </div>
  </div>
</div>
