.map-container {
  
  display: flex;
  align-items: center;
  justify-content: center;

  .map-svg {
    .visited {
      transition: fill 0.3s ease;
      fill: black;
      &:hover {
        fill: red;
      }
    }
    .not-visited {
      fill: gray;
    }
  }

}
