* {

  font-family: 'Hero New', 'hero-new', 'Arial','Helvetica','sans-serif';

  .app-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: 100%;

    .list-container {

      margin-top: 1.5rem;
      width: 100%;
      text-align: center;

      order: 2;

      ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        // On mobile, make the grid 2xN
        @media screen and (max-width:930px) {
          grid-template-columns: 1fr 1fr 1fr;
        }
        padding: 0;
        a {
          color: #AB91B2;
          text-decoration: none;
          &:hover {
            color: #81B2A0;
          }
        }
        li {
          margin-bottom: .5rem;
        }
      }
    }

    .map-container {

      order: 1;
      width: 100%;
      font-weight: lighter;
      margin-bottom: 5rem;
      position: relative;

      h1 {
        position: absolute;
        color: #AB91B2;
        left: 0;
        right: 0;
        top: 50%;
        margin: auto;
        pointer-events: none;
      }

      display: flex;
      .wrapper {
        text-align: center;
        width: 100%;
        height: auto;
        .map-svg {
          overflow: visible;
          .visited {
            transition: fill 0.3s ease;
            fill: #81B2A0;
            &:hover {
              fill: #AB91B2;
            }
          }
          .not-visited {
            fill: #B8CCC5;
          }
        }
      }
    }

  }

  // REMOVE THE PADDING FROM SS INNER CONTENT WRAPPER
  .main-content-inner-wrapper {
    padding: 0 !important;
  }

}
